<template name="Frontpage">
  <h3>Books</h3>

  <p>Simple Index+CRUD example using default values.</p>

  <p><strong>For administrator users:</strong> Let's <a href="{{ctPathFor route='ct.book.index'}}">go to the index</a>
  endpoint or just <a href="{{ctPathFor route='ct.book.create'}}">create a new Book</a>.</p>

  <p><strong>For visitor users:</strong> Let's <a href="{{ctPathFor route='books'}}">go to the book store.</a></p>

  <hr/>

  <h3>Contacts</h3>

  <p>Simple Index+CRUD example customizing the Create endpoint and content type labels.</p>

  <p>Let's <a href="{{ctPathFor route='ct.contact.index'}}">go to the index</a>
  endpoint or just <a href="{{ctPathFor route='ct.contact.create'}}">create a new Contact</a>.</p>

  <hr/>

  <h3>Tasks (TODO)</h3>

  <p>Simple Index+CRUD example extending the default Index display and adding
  custom helpers.</p>

  <p>Let's <a href="{{ctPathFor route='ct.task.index'}}">go to the index</a>
  endpoint or just <a href="{{ctPathFor route='ct.task.create'}}">create a new Task</a>.</p>

  <hr/>

</template>
